# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
db.sqlite3

# Environment variables
.env

# Django cache and migrations
*.log
*.pot
*.pyc
*.pyo
media/
staticfiles/
migrations/

# VS Code and PyCharm files
.vscode/
.idea/
